{% extends 'base.html' %}
{% block content %}

<div class="container">
    <!-- Reservation Header -->
    <h1 class="my-5">Page Title <small>subtitle</small></h1>

    <!-- Reservation Form -->
    <form action="{% url 'reservation:confirmation' %}" method="POST" class="mb-5">
    {% csrf_token %}
        
        <!-- Name Row -->
        <div class="row w-50 mx-auto">

            <!-- First Name Field -->            
            <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" name="fname" class="form-control" id="firstName">
                <div class="invalid-feedback">
                Valid first name is required.
                </div>
            </div>

            <!-- First Name Field -->
            <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder="">
                <div class="invalid-feedback">
                Valid last name is required.
                </div>
            </div>
        </div>

        <!-- Date Row -->
        <div class="row w-50 mx-auto">

            <!-- Check-in Field -->
            <div class="col-md-6 mb-3">
                <label for="cin">First name</label>
                <input type="date" name="check-in" class="" id="cin">
                <div class="invalid-feedback">
                Valid first name is required.
                </div>
            </div>

            <!-- Check-out Field -->
            <div class="col-md-6 mb-3">
                <label for="check-out">Last name</label>
                <input type="date" name="check-out" class="form-control" id="check-out">
                <div class="invalid-feedback">
                Valid last name is required.
                </div>
            </div>
        </div>
        
        <!-- List of Rooms -->
        <ul class="list-group w-50 mx-auto px-0">
            {% for room in rooms %}
            <li class="list-group-item list-group-item-action row">
                
                <input type="radio" class="col-2 my-auto" name="room" id="room{{ forloop.counter }}" value="{{ room.room_id }}">
                
                <label for="room{{ forloop.counter }}" class="col-8"><h4>{{ room }}</h4></label>
                <!-- <p>{{room}}</p> -->
                
                <span class="col-2">$3</span>
            {% endfor %}
            </li>
        </ul>

        <!-- Send Button -->
        <button class="btn btn-primary btn-lg btn-block w-50 mx-auto mt-4" type="submit">Confirm</button>
    </form>
</div>
{% endblock %}
