{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <!-- Contact Page Header -->
    <h1>Contact</h1>

    <div class="row">

        <!-- Hotel Contact info -->
        <div class="col-md-6">
        <div class="my-5">
            <h2 class="bg-light">Email</h2>
            <p>asdf@asdf.com</p>
            <h2 class="bg-light">Phone</h2>
            <p>000-0000 <br> 000-0000</p>
            <h2 class="bg-light">Address</h2>
            <p>Lorem ipsum dolor sit amet, 000<br>00000-000</p>
        </div>
        </div>

        <!-- contact form -->
        <div class="col-md-6">
            <form action="{% url 'contact:confirmation' %}" method="POST" class="my-5">
            {% csrf_token %}

                <!-- Full name -->
                <div class="form-group">
                    <label for="contact_name">Full Name</label>
                    <input type="text" class="form-control" id="contact_name" placeholder="user name" required>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label for="contact_email">Email address</label>
                    <input type="email" class="form-control" id="contact_email" placeholder="name@example.com" required>
                </div>

                <!-- Subject -->
                <div class="form-group">
                    <label for="contact_subject">Subject</label>
                    <input type="text" class="form-control" id="contact_subject" placeholder="subject" required>
                </div>

                <!-- Message -->
                <div class="form-group">
                    <label for="contact_text">Message</label>
                    <textarea class="form-control" id="contact_text" rows="3" required></textarea>
                </div>

                <!-- Send Button -->
                <button type="submit" class="btn btn-primary mt-3">Send</button>
            </form>
        </div>
        <!-- /.col -->

    </div>
    <!-- /.row -->
    
</div>
<!-- /.container -->
{% endblock %}